/*_btnfeedback_*/
/*
#divFeedback {
	float:left;	
	position:fixed;
	top:40%;
	z-index:1000;
	font-weight: bold !important; font-size:14px !important;
}
*/

#divFeedback
{
	position: absolute;
	top: 0;
	left: 45%;
	z-index:100000000000;!important
	font-weight: bold !important; font-size:14px !important;
	margin-left: auto;
	margin-right: auto;
}

#divFeedback ul
{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#divFeedback .myButton 
{
	/* shadow */
	box-shadow: 0px 1px 1px 1px rgb(185, 185, 185);
	-moz-box-shadow: 0px 1px 1px 1px rgb(185, 185, 185);
	-webkit-box-shadow: 0px 1px 1px 1px rgb(185, 185, 185);
	filter: progid:DXImageTransform.Microsoft.Shadow(strength = 1, direction = 135, color = '#c3cad1');
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 1, Direction = 135, Color = '#c3cad1')";
	/* gradient */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#e4e6ee', endColorstr = '#ccd1d8');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#e4e6ee', endColorstr = '#ccd1d8')";
	background-image: -moz-linear-gradient(top, #e4e6ee, #ccd1d8);
	background-image: -ms-linear-gradient(top, #e4e6ee, #ccd1d8);
	background-image: -o-linear-gradient(top, #e4e6ee, #ccd1d8);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#e4e6ee), to(#ccd1d8));
	background-image: -webkit-linear-gradient(top, #e4e6ee, #ccd1d8);
	background-image: linear-gradient(top, #e4e6ee, #ccd1d8);
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px; 
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:normal;
	padding: 5px 6px 3px 6px;
	text-decoration:none;
	border: none;
	cursor: pointer;
}

	#divFeedback .myButton:hover 
	{
		/* gradient */
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ccd1d8', endColorstr = '#e4e6ee');
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ccd1d8', endColorstr = '#e4e6ee')";
		background-image: -moz-linear-gradient(top, #ccd1d8, #e4e6ee);
		background-image: -ms-linear-gradient(top, #ccd1d8, #e4e6ee);
		background-image: -o-linear-gradient(top, #ccd1d8, #e4e6ee);
		background-image: -webkit-gradient(linear, center top, center bottom, from(#ccd1d8), to(#e4e6ee));
		background-image: -webkit-linear-gradient(top, #ccd1d8, #e4e6ee);
		background-image: linear-gradient(top, #ccd1d8, #e4e6ee);
		color: rgb(255, 255, 255);
		border: none;
	}
	
	
			#divFeedback .myButtonBlue
			{
			/* shadow */
			box-shadow: 0px 1px 1px 1px rgb(185, 185, 185);
			-moz-box-shadow: 0px 1px 1px 1px rgb(185, 185, 185);
			-webkit-box-shadow: 0px 1px 1px 1px rgb(185, 185, 185);
			filter: progid:DXImageTransform.Microsoft.Shadow(strength = 1, direction = 135, color = '#c3cad1');
			-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 1, Direction = 135, Color = '#c3cad1')";
			/* gradient */
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#029cd0', endColorstr = '#0189c3');
			-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#029cd0', endColorstr = '#0189c3')";
			background-image: -moz-linear-gradient(top, #029cd0, #0189c3);
			background-image: -ms-linear-gradient(top, #029cd0, #0189c3);
			background-image: -o-linear-gradient(top, #029cd0, #0189c3);
			background-image: -webkit-gradient(linear, center top, center bottom, from(#029cd0), to(#0189c3));
			background-image: -webkit-linear-gradient(top, #029cd0, #0189c3);
			background-image: linear-gradient(top, #029cd0, #0189c3);
			border-top-left-radius:0px;
			border-top-right-radius:0px;
			border-bottom-right-radius:5px;
			border-bottom-left-radius:5px; 
			display:inline-block;
			color:#ffffff;
			font-family:arial;
			font-size:15px;
			font-weight:normal;
			padding:4px 15px;
			text-decoration:none;
			border: none;
			cursor: pointer;
			behavior: url(ie-css3.htc); /* This lets IE know to call the script on all elements which get the 'box' class */
		}
		
			#divFeedback .myButtonBlue:hover 
			{
				/* gradient */
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ccd1d8', endColorstr = '#0189c3');
				-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ccd1d8', endColorstr = '#0189c3')";
				background-image: -moz-linear-gradient(top, #ccd1d8, #0189c3);
				background-image: -ms-linear-gradient(top, #ccd1d8, #0189c3);
				background-image: -o-linear-gradient(top, #ccd1d8, #0189c3);
				background-image: -webkit-gradient(linear, center top, center bottom, from(#ccd1d8), to(#0189c3));
				background-image: -webkit-linear-gradient(top, #ccd1d8, #0189c3);
				background-image: linear-gradient(top, #ccd1d8, #0189c3);
				color: rgb(255, 255, 255);
				border: none;
			}
	
	#divFeedback .myButton:active 
	{
		position:relative;
		top:1px;
	}
	
	#divFeedback .myButton img
	{
		vertical-align: middle;
		margin-right: 4px;
	}
/*_btnfeedback_*/